body {
  margin: 0;
  text-align: center;
  padding-top: 200px;
  background-image: url(https://htmlcolorcodes.com/assets/images/colors/blood-red-color-solid-background-1920x1080.png);
  background-size: cover;
}
h1 {
  color: white;
  font-size: 200px;
  margin-bottom: 0;
  margin-top: 0;
}
p {
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
}
a {
  color: white;
  text-decoration: none;
}
img {
  width: 18px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 100px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.button-wrapper {
  text-align: center;
}
.box-wrapper {
  text-align: center;
}
.box {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
