td {
  padding: 10px;
  border: 1px solid black;
}
table {
  text-align: center;
  border-spacing: 0px;
}

thead {
  background: yellow;
  font-weight: bold;
}

.yellow-bold {
  background: yellow;
  font-weight: bold;
}
