h1 {
  text-align: center;
}
td {
  padding: 10px;
  border: 1px solid black;
}
table {
  text-align: center;
  border-spacing: 0px;
  margin: auto;
  border-collapse: collapse;
}
thead {
  background: yellow;
  font-weight: bold;
}
p {
  text-align: center;
}
.yellow-bold {
  background: yellow;
  font-weight: bold;
}
